<!DOCTYPE html>
<html lang="en">
<head>
	<title>Interface</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.0.21/css/bulma.min.css">
	<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
</head>
<body>
	<div id="app">
		<script type="text/javascript" src= "static/js/index.js"></script>
	</div>
</body>
</html>