body,html{
	background-color: white;
	font-family: 'Lato', sans-serif;
}

.columns{
	margin-top: 180px;
}
.menu{
	padding-top: 74px;
    padding-left: 8px;
}
.buttonPosition{
	padding-top: 20px;
	text-align: right;
}

.inlineblocked{
	display: inline-block;
}
.block{
	display:block;
}

.backgroundDiv{
	margin-top: 60px;
}

.formMarginRight{
	margin-right: 42px; 
}

.fullHeight{
	height: 100vh;
    position: fixed;
    background-color: #1fc8db;
    top: 0px;
}

.white{
	color:white;
}

.resultsHeader{
	font-family: 'Josefin Slab', serif;
	padding:20px;
}

.center{
	display: block;
	margin:auto;
}

.centerText{
	text-align: center;
}

.longPaddingTop{
	padding-top: 60px;
}
.marginLeft{
	margin-left: 20px;
}
.position{
	position: relative;
    left: 24px;
}